lib
lib64
dist
include
.coverage
*.un~
*.swp
pyvenv.cfg
*.egg-info
__pycache__

# real configurations
app/connectors_service/config.yml

# jetbrains files
.idea
*.iml
.cli

.venv
**/venv
scripts/stack/connectors-config

.python-version

.copier-answers.yml
trello
