select = ["A", "ASYNC", "I", "E", "F", "B", "C4", "T10", "T20", "EM", "ISC", "S"]
ignore = ["E501"]

# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ["A", "B", "C", "C4", "D", "E", "F", "G", "I", "N", "Q", "S", "T", "W", "ANN", "ARG", "BLE", "COM", "DJ", "DTZ", "EM", "ERA", "EXE", "FBT", "ICN", "INP", "ISC", "NPY", "PD", "PGH", "PIE", "PL", "PT", "PTH", "PYI", "RET", "RSE", "RUF", "SIM", "SLF", "TCH", "TID", "TRY", "UP", "YTT", "T10", "T20"]
unfixable = []

exclude = [
    ".git",
    "__pycache__",
    "lib",
    "bin",
    "include"
]
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"
target-version = "py310"

[per-file-ignores]
"tests/*" = ["B017", "S101", "S"]
"connectors/*" = ["S608"]
"tests/*" = ["B017"]
"tests/conftest.py" = [ "EM" ]
"setup.py" = [ "EM" ]
"scripts/verify.py" = [ "EM" ]

[isort]
known-first-party=["connectors", "tests"]
