include Makefile README.rst config.yml CONTRIBUTE.rst LICENSE
recursive-include connectors/ *.yml
recursive-include requirements/ *.txt
include connectors/VERSION
include tests/sources/fixtures/google_cloud_storage/service_account_dummy_cert.pem
