elasticsearch[async]>=8.4.1
aiomysql==0.1.1
motor>=3.0.0
pyyaml>=6.0
aioboto3>=9.6.0
pytz>=2022.1
aiohttp>=3.8.1
envyaml>=1.10.211231
ecs-logging>=2.0.0

black>=22.6.0
flake8>=4.0.1
aioresponses>=0.7.3
pytest>=7.1.2
pytest-cov>=3.0.0
pytest-asyncio>=0.19.0
pytest-randomly>=3.12.0
