#
# Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under one
# or more contributor license agreements. Licensed under the Elastic License 2.0;
# you may not use this file except in compliance with the Elastic License 2.0.
#
{% from 'text_processing.jinja' import pascalcase %}
from .client import {{ pascalcase(source_name) }}Client
from .datasource import {{ pascalcase(source_name) }}DataSource

__all__ = ["{{ pascalcase(source_name) }}Client", "{{ pascalcase(source_name) }}DataSource"]
