#
# Copyright Elasticsearch B.V. and/or licensed to Elasticsearch B.V. under one
# or more contributor license agreements. Licensed under the Elastic License 2.0;
# you may not use this file except in compliance with the Elastic License 2.0.
#
from connectors_sdk.client import BaseClient


class {% from 'text_processing.jinja' import pascalcase %}{{ pascalcase(source_name) }}Client(BaseClient):
    def __init__(self, configuration):
        super().__init__(configuration)

    def ping(self):
        """Check the connection to the 3rd party data source."""
        raise NotImplementedError("ping method not implemented")

    def close(self):
        """Close the client connection."""
        raise NotImplementedError("close method not implemented")

    def _api_call(self, *args, **kwargs):
        raise NotImplementedError("_api_call method not implemented")

    def api_call_paginated(self, *args, **kwargs):
        """Make a paginated API call to the 3rd party data source."""
        raise NotImplementedError("api_call_paginated method not implemented")
